
$border-colour:#CCC;
.calendar-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(14, 40, 68, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 9001;

    &.showCal{
        opacity:1;
    }
    &.hideCal{
        opacity:0;
        display:none;
    }

    .calendar {
        // float:left;
        display:block;

        box-sizing:border-box;
        -moz-box-sizing:border-box;

        background:white;
        width:100%;
        max-width:300px;
        border:solid 1px $border-colour;

        $secondary-colour:#2875C7;
        $spacing:10px;
        $icon-width:40px;
        $header-height:40px;

        >div.header {
            float:left;
            width:100%;
            background:$secondary-colour;
            height:$header-height;
            color:white;

            >* {
                height:$header-height;
                line-height:$header-height !important;
                display:inline-block;
                vertical-align:middle;
            }

            >i {
                float:left;
                width:$icon-width;
                font-size:1.125em;
                font-weight:bold;
                position:relative;

                box-sizing:border-box;
                -moz-box-sizing:border-box;

                padding:0 $spacing;
                cursor:pointer;
            }

            >i.fa-angle-left {
                text-align:left;
            }

            >i.fa-angle-right {
                text-align:right;
                margin-left:$icon-width*-1;
            }

            >span {
                float:left;
                width:100%;
                font-weight:bold;
                text-transform:uppercase;

                box-sizing:border-box;
                -moz-box-sizing:border-box;

                padding-left:$icon-width+$spacing;
                margin-left:$icon-width*-1;
                text-align:center;
                padding-right:$icon-width;
                color:inherit;
            }
        }

    }
}
